<div class="position-fixed top-0 bottom-0 bgBase sidebar">
    <div class="d-flex justify-content-center align-items-center flex-column header mt-5">
        <i class='bx bxs-user-badge fs-1 text-white rounded-circle p-2' ></i>
        <p class="fs-4 text-white">Admin</p>
    </div>
    <div class="body">
        <ul class="p-4">
            <li>
                <a href="/admin">Dashboard</a>
            </li>
            <li>
                <a href="/admin/information">List Information</a>
            </li>
            <li>
                <a href="/admin/addInformation">Add Information</a>
            </li>
            <li class="position-absolute bottom-0 mb-5">
                <a href="/admin/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>